/* Общий стиль для страницы */
body {
    font-family: 'Orbitron', sans-serif; /* Шрифт для текста */
    background-color: #f4f4f9; /* Светлый фон */
    color: #333; /* Основной цвет текста */
    margin: 0;
    padding: 0;
}

/* Стили для заголовка */
header {
    background-color: #1e1e2f; /* Тёмный фон */
    color: #fff; /* Белый текст */
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em; /* Размер заголовка */
    font-weight: 700; /* Жирный стиль */
    margin: 0;
}

/* Стили для основного контента */
main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Стили для таймлайна */
#timeline {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff; /* Белый фон */
    border: 2px solid #1e1e2f; /* Обводка */
    border-radius: 8px; /* Закруглённые углы */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Тень */
}
